body {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin: 0;
}

li {
    list-style: none;
    margin-right: 25px;
}

.menu {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-menu {
    color: white;
    display: flex;
}

#nombre {
    font-size: 20px;
}

.boton {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #cc15cc;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.contenido {
    text-align: center;
    margin-top: 200px;
}

h1 {
    color: white;
    font-size: 40px;
    margin: 0;
}

h2 {
    color: white;
    font-size: 20;
    margin-bottom: 40px;
}

header {
    background: url(img/pita2.jpg);
    height: 100vh;
    background-size: cover;
}